.product {
  display: flex;
  flex-direction: column;
  margin: 1em;
}

a.title {
  font-family: 'Alex Brush', cursive;
  font-size: 2em;
  text-decoration: none;
  color: #666;
}

span.price {
  font-style: italic;
}

span {
  margin: 3px;
}
